body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient( 111.4deg,  rgb(78, 78, 97) 6.5%, rgb(72, 68, 180) 93.2% );
  user-select: none;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: rgb(146, 135, 66);
  background-image: linear-gradient(147deg, #7d732c 0%, #c43535 74%);  
  padding: 40px 60px;
}

h2 {
  font-size: 3em;
  color: #f06969;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 0;
  /* color: #e45705 */
}

h3 {
  font-size: 1.5em;
  line-height: 0;
  color: #dfb2b2;
  letter-spacing: 0.1em;
}

.reset {
  padding: 15px 20px;
  width: 100%;
  color: #3b1313;
  background-color: #877a7a;
  border: none;
  font-size: 1.5em;
  letter-spacing: .1em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}

.reset:focus {
  color: #a9097e;
  background-color: #424610;
}

.game {
  width: 430px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 1rem;
  transform-style: preserve-3d;
  perspective: 500px;
}

.item {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 3em;
  transform: rotateY(180deg);
  transition: 0.25s;
}

.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #903636;
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.item.boxOpen {
  transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after {
  transform: rotateX(180deg);
}
